@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.sidenav-container {
  height: 10%;
  width: 100%;
}

.sidenav {
  width: 200px;
}


.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  font-family:  'Bebas Neue', cursive;
  font-size: 2.5em;
}

.logo{
  width: 8%;
  padding: 1%;
}
