@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&display=swap');

.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
   
   
}

.card-img-top{
    min-height: 210px;
    max-width: 210px;
    
}

.btn-info{
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
}

.ng-star-inserted{
    text-align: center;
}